$_red_button_normal: rgba(255, 67, 67, 1);
$_red_button_hover: rgba(231, 20, 20, 1);
$_red_button_active: rgba(255, 67, 67, 1);
$_light_grey: rgba(186, 187, 197, 1);
$_black: rgba(0, 0, 0, 1);

$_text_p18px: 1.125rem;
$_tetle_24px: 1.5rem;
$_tetle_30px: 1.875rem;

$_lh_txt_p21px: 1.3125rem;