$_red_button_normal: rgba(255, 67, 67, 1);
$_red_button_hover: rgba(231, 20, 20, 1);
$_red_button_active: rgba(255, 67, 67, 1);
$_light_grey: rgba(186, 187, 197, 1);
$_black: rgba(0, 0, 0, 1);

$_sub_title_p18px: 1.125rem;
$_sub_title_24px: 1.5rem;
$_sub_title_30px: 1.875rem;

$_lh_txt_p18px: 1.125rem;
$_lh_txt_p21px: 1.3125rem;
$_lh_txt_p24px: 1.5rem;
$_lh_txt_p28px: 1.75rem;