.banner-content {
  text-align: center;
  margin-top: 129px;
  z-index: 2;
}
.banner-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}
.banner-discription {
  margin-top: 31px;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-family: "Raleway", serif;
}
.banner-link {
  background-color: rgba(255, 67, 67, 1);
  width: 369px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  margin: 79px auto 0;
  padding: 25px 0;
  -webkit-transition: 0.6s;
}

.banner-link a{
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.banner-link:hover{
  background-color: #890808;
  box-shadow: inset 0 0 12px 6px rgba(21, 21, 21, 1);
  transition: 0.4s;
}