@use '../scss/mixins' as m;
@use '../scss/cdn' as c;
@use '../scss/variables' as v;
@import '../scss/header.scss';
@import '../scss/banner.scss';
@import '../scss/features.scss';
@import '../scss/work.scss';
@import '../scss/our-team.scss';
@import '../scss/testimonials.scss';
@import '../scss/download.scss';
@import '../scss/footer.scss';

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", serif;
}